# Node modules
node_modules/

# TypeScript compiled files
*.js
*.js.map

# TypeScript declaration files
*.d.ts

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env

# VS Code directory
.vscode/

# macOS files
.DS_Store

# TypeScript configuration file (optional)
tsconfig.tsbuildinfo

# Dist directory (if you have a build script that outputs to dist/)
dist/
